<div class="midDiv">
  <h3>Izaberite casopis:</h3>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLex="25%">
  </div>
  <div fxLex="50%">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
      <div *ngFor="let field of formFields" >
        <label for={{field.id}}>{{field.label}}</label>
        <select name="{{field.id}}"  multiple ngModel *ngIf="field.type.name=='enum' && field.id=='casopisiL'">
          <option *ngFor="let casopis of casopisi" value={{casopis.id}}>
            Olga
          </option>
        </select>

      </div>
      <input type="submit">
    </form>
  </div>
  <div fxLex="25%">
  </div>
</div>
